@{
    ViewData["Title"] = "Главная";
}
@model ICollection<PersonViewModel>

<div class="text-center">
    <table>
        <thead>
            <tr>
                <td>Номер</td>
                <td>Id</td>
                <td>Фамилия</td>
                <td>Имя</td>
                <td>Отчество</td>
                <td>Адрес</td>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (PersonViewModel person in Model)
            {
                <tr>
                    <td>@(i++)</td>
                    <td>@person.UniqueId</td>
                    <td>@person.Surname</td>
                    <td>@person.Name</td>
                    <td>@person.Patronymic</td>
                    <td>@person.Adress</td>
                </tr>
            }
        </tbody>
    </table>

</div>
